
.container-fluid
    .row
        .col-xl-4
            .alert.alert-primary
                h1.title-head Learning gulp-sass-pug1
        .col-xl-4
            .alert.alert-primary
                h1.title-head Learning gulp-sass-pug2
        .col-xl-4
            .alert.alert-primary
                h1.title-head Learning gulp-sass-pug3
